<div class="row">
  <div class="nine columns offset-by-one end">
    <h3>Encontre aqui um grupo para compartilhar o seu trajeto!</h3>
    <p>Preencha o formulário com os dados do trajeto que gostaria de compartilhar, procuraremos grupos com trajetos similares aos seu! </p>
    <p>Lembre-se, você pode não encontrar o seu trajeto igual ao seu, porém um bastante similar!</p>
  </div>
</div>
