<div class="margin-content">
	<div class="row">
	  <div class="four columns">
	    <h4>Permita que outras pessoas compartilhem o trajeto com você! </h4>
	    <p>Preencha o formulário com os dados do trajeto que gostaria de compartilhar.</p>
	    	<p>Lembre-se de buscar trajetos similares antes de criar um novo, é possível que já existam grupos com o mesmo objetivo que você!</p>
	  </div>
	  <div class="eight columns">
			<%= render :partial => "itineraries/form" %>
		</div>
	</div>
</div>