<div id="home">
  <div class="row">
    <div class="three columns centered">      
      <%= image_tag "idv.png" %>
    </div>
  </div>
  <div class="row">
  <!--  <div class="three columns offset-by-three">
      <h2 class="subheader">Encontre um grupo para compartilhar o seu trajeto!</h2>

    </div> -->
    <div class="three columns centered">
      <br /><br /><br /><br /><br /><br />
      <%= link_to I18n.t(:sign_in) %>

  </div>
</div>