<div class="home">
  <div class=" logo row">
    <div class="four columns centered">
      <%= image_tag "idv.png" %>
    </div>
  </div>
  <div class="tagline">
    <div class="row">
      <div class="six columns">
          <h2 >Encontre um grupo para compartilhar o seu trajeto!</h2>
          <h3 class="subheader">Transforme um momento comum em uma nova experiência!</h3>
      </div>
      <div class="four columns end">
        <%= render 'shared/login_form' %>
      </div>
    </div>
  </div>
