body {
	background-color: #E1E1DC!important;
}
h1, h2, h3, h4 {
	margin: 0 0 5px 0!important;
	padding: 0;
}
.container {
	margin: 20px 0;
}
#perfil p {
	margin: 0;
	padding: 0;
}
.grupo {
	margin:  20px 0;
}
.grupo-info p {
	margin: 0;
	padding: 0;
}
.dados {
	margin: 10px 0!important;
}
.row.grupo-info {
	background-color: #F1F2EB;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.info-enderecos {
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
.info-freq {
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
}
.icone-origem {
    background: image-url("icone-origem.png") no-repeat center center;
    width: 28px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    left: 5px;
}
.icone-destino {
    background: image-url("icone-destino.png") no-repeat center center;
    width: 28px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    left: 5px;
}
.icone-posicao {
    position: relative;
    float: left;
    height: 60px;
    margin: 0 5px 0 0;
}
#busca {
	margin-top: 20px;
	margin-bottom: 20px;
}
.carro {
	background: image-url("balao-carro.png") no-repeat;
	min-width: 40px;
	min-height: 40px;
	display: block;
}
.carro:hover {
	background: image-url("balao-colorido-carro.png") no-repeat;
}
.ape{
	background: image-url("balao-ape.png") no-repeat;
	min-width: 40px;
	min-height: 40px;
	display: block;
}
.ape:hover {
	background: image-url("balao-colorido-ape.png") no-repeat;
}
.bicicleta{
	background: image-url("balao-bicicleta.png") no-repeat;
	min-width: 40px;
	min-height: 40px;
	display: block;
}
.bicicleta:hover {
	background: image-url("balao-colorido-bicicleta.png") no-repeat;
}
