<div class="contain-to-grid">
  <nav class="top-bar">
      <ul>
        <li class="name">
            <a href="#" class="small radius button">Login</a>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <ul class="left">
          <li class="divider"></li>
          <li>
            <%= link_to(I18n.t("itinerary.view_mine".to_sym), itineraries_path, :class => "active") %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to(I18n.t(:search_itineraries), itineraries_path, :class => "active") %>
          </li>
          <li class="divider"></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Partiu.de</a>
            <ul class="dropdown">
              <li><a href="#">Quem somos</a></li>
              <li><a href="#">Planos</a></li>
              <li><a href="#">Parceiros</a></li>
              <li><a href="#">Contato</a></li>
              <li class="divider"></li>
            </ul>
          </li>
        </ul>
      </section>
  </nav>
</div>
