<div class="contain-to-grid">
  <nav class="top-bar">
      <section>
        <%= render :partial => 'layouts/itineraries_links' if current_user.present? %>
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Partiu.de</a>
            <ul class="dropdown">
              <li><a href="#">Quem somos</a></li>
              <li><a href="#">Planos</a></li>
              <li><a href="#">Parceiros</a></li>
              <li><a href="#">Contato</a></li>
              <li class="divider"></li>
            </ul>
          </li>
        </ul>
      </section>
  </nav>
</div>
