<%= simple_form_for @trajeto_usuario do |f| %>
  
  
  <h3> Trajeto</h3>
	<%= f.input :end_origem %> 
    <%= f.input :end_destino %>  
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>

<% end %>

